@import url("./reset.css");

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

@tailwind base;
@tailwind screens;
@tailwind components;
@tailwind utilities;
